@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    min-height: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}


.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
    color: #555
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #d19c97;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #d3c1c1, -3px -3px 3px #fff;
    letter-spacing: 1.3px
}

.wrapper .btn:hover {
    filter:brightness(110%);
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #d19c97
}

.wrapper a:hover {
      filter:brightness(110%);

}
.custom-file-label::after{
    background:unset;
}
@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}
.error{
   color:red !important;
}