@using DoAn_Web.Models
@{
var acc = Session["account_client"] as ACCOUNT;
    var kh = Session["kh_client"] as KHACHHANG;
}
<div class="col-lg-9">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
            <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="~/Home/Index" class="nav-item nav-link">Trang chủ</a>
                <a href="~/Home/Contact" class="nav-item nav-link">Liên hệ</a>
                <a href="~/Home/About" class="nav-item nav-link">Giới thiệu</a>                
            </div>
            <div class="navbar-nav ml-auto py-0">
                @if (acc == null)
                {
                    <a href="/dang-nhap-dang-ki" class="nav-item nav-link">Đăng nhập/Đăng kí</a>
                }
                else
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" data-toggle="dropdown">
                            <img src="~/Assets/Client/img/@acc.image" alt="Avatar" class="avatar"/>
                            <span>@kh.TENKH</span>
                        </a>
                        <div class="dropdown-menu rounded-0 m-0" style="left:unset;right:0;">
                            <a href="/dang-xuat" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </nav>
</div>
